.container {
  background-color: var(--bg-primary);
  height: 100%;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
