.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  height: 5rem;
  margin-bottom: 2rem;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(var(--color-grey-dark-1), 0.08);
  }

    input {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-grey-light-3);
    }

    @media only screen and (max-width: var(--bp-medium)) {
      width: auto;

      &::placeholder {
        color: white;
      }
    }
  }
}
