@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import "./styles/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: var(color-grey-light-1);
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: var(--gradient);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}
